body {
  text-align: center;
  font-size: small;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

div.status {
  margin: 0;
  padding: 0;
  position: relative;
}

div.content {
  position: absolute;
  top: 50%;
  width: 100%;
}

h1 {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  white-space: nowrap;
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
  font-size: 120%;
  line-height: 1.6em;
}

p.building {
  right: 0;
  top: 0;
  position: absolute;
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}

.clear {
  border: none;
  clear: both;
}

.status {
  float: left;
}

.success {
  color: #119911;
  background-color: #93F58E;
}

.success strong {
  color: #060;
}

.failure {
  color: #fff;
  background-color: #990000;
}

.failure p {
  color: #c99;
}

.failure strong {
  color: #fff;
}

.unknown {
  color: #666666;
  background-color: #999999;
}

.building {
  background-color: #FFFF44;
  color: black;
}

.building.failure {
  color: #990000;
}

.building.failure strong {
  color: #990000;
}
